
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 44px;
  text-decoration: none;
  font-family: helvetica;

}

li a:hover,.active {
  background-color: #39ff14;
}



.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: helvetica;
}

.price {
  color: grey;
  font-size: 20 px;
}

.item button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.item button:hover {

  background-color: #39ff14;
}


